/* =========================================
    Master SCSS
============================================ */

@charset "utf-8";

/*  VENDOR
============================================================================ */


/*  CONFIG
============================================================================ */
@import "1-init/variables";
@import "1-init/font-face";

/*  UTILITY
============================================================================ */
@import "2-utility/animations.hacks";
@import "2-utility/animations.bounce";
@import "2-utility/animations.fade";
@import "2-utility/animations.scale";
@import "2-utility/animations";
@import "2-utility/helpers.wrapper";
@import "2-utility/helpers";

/*  BASE
============================================================================ */
@import "3-base/normalize";
@import "3-base/reset";
@import "3-base/html";
@import "3-base/globals";

/*  ELEMENTS
============================================================================ */
@import "4-elements/links";
@import "4-elements/headings";
@import "4-elements/buttons";

/* COMPONENET
============================================================================ */
@import "5-components/navigation";
@import "5-components/footer";


/* PAGES
============================================================================ */
@import "6-pages/home";

