/* Component: Headings
============================================================================ */


%h2 {
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size: 1.5rem;
  	letter-spacing: 0.05em;
  	
  	@include breakpoint('small') {
 		font-size: 1.9rem;
  	}
}
