/* Base: Reset
============================================================================ */

*,
:after,
:before {
	box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
    background-color: #fff;
    position: relative;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

::selection {
    background: rgba(color(main), 0.7);
    color: #fff;
    text-shadow: none;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

