/* Utility: UI helpers
============================================================================ */

.u-bold {
    font-weight: 500;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-pt-65 {
    padding-top: 65px;
}
.u-pt-200 {
    padding-top: 200px;
}
.u-pb-100 {
    padding-bottom: 100px;
}
.u-pb-200 {
    padding-bottom: 100px;
}

.u-mt-100 {
	margin-top: 100px;
}
.u-mb-100 {
	margin-bottom: 100px;
}

.u-center{
	text-align: center;
}