/* Utility: UI animation
============================================================================ */

.u-fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.u-fade-in {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    transition-timing-function: ease-in-out;
}

.u-zoom-in {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
