/* Base: Elements
============================================================================ */

html {
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #3F51B5;
}
