/* Base: Typography
============================================================================ */
// Fonts
$font-main: 'raleway', sans-serif;
$font-text: 'open sans', serif;


p {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    margin: 0;
    font-family: $font-text;
}
