$font-size-base: 16px;
$font-size-large: ($font-size-base * 1.25);
$font-size-small: ($font-size-base * 0.75);

$font-main: 'helvetica', sans-serif;
$font-body: 'helvetica', sans-serif;
$font-heading:'helvetica', serif;
 
$font-awesome: "FontAwesome";
